<div class="is-flex is-justify-content-center mt-1"> 
  @if(requestFlag){
    <p style="position: absolute;">Loading ...</p>
  }
</div>

<section class="hero is-light is-fullheight">
    <div class="m-5">
      <div class="container">
        <div class="columns is-centered">
          <div class="column is-5-tablet is-4-desktop is-3-widescreen">
            <form action="" class="box">
              <div class="field">
                <label for="" class="label">Username</label>
                  <input type="text" class="input" #username>
              </div>
              <div class="field">
                <label for="" class="label">Password</label>
                  <input type="password" class="input" #password>
              </div>
              <div class="field">
                <app-error [error]="errorResponse"/>
              </div>
              <div class="field">
                <button class="button is-info" type="button" (click)="login()">
                  Login
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
</section>